absl-py==0.9.0
alabaster==0.7.12
altair==4.1.0
altgraph==0.17
#anaconda-client==1.7.2
#anaconda-navigator==1.9.7
#anaconda-project==0.8.3
as==0.1
asn1crypto==1.0.1
astor==0.7.1
astroid==2.3.1
astropy==3.2.1
atomicwrites==1.3.0
attrs==19.2.0
Automat==0.8.0
Babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
bleach==3.1.0
blinker==1.4
bokeh==1.3.4
boto==2.49.0
Bottleneck==1.2.1
branca==0.4.0
cachetools==3.1.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
click-plugins==1.1.1
cligj==0.5.0
cloudpickle==1.2.2
#clyent==1.2.2
cmdstanpy==0.4.0
colorama==0.4.1
comtypes==1.1.7
#conda==4.8.3
#conda-build==3.18.9
#conda-package-handling==1.6.0
#conda-verify==3.4.2
constantly==15.1.0
contextlib2==0.6.0
convertdate==2.1.3
cryptography==2.7
cssselect==1.1.0
#cv==1.0.0
#cycler==0.10.0
Cython==0.29.13
cytoolz==0.10.0
dask==2.5.2
decorator==4.4.0
defusedxml==0.6.0
distributed==2.5.2
docopt==0.6.2
docutils==0.15.2
EasyProcess==0.2.10
entrypoints==0.3
ephem==3.7.7.1
et-xmlfile==1.0.1
fastcache==1.1.0
fbprophet==0.6
filelock==3.0.12
Fiona==1.8.4
Flask==1.1.1
folium==0.10.1
fsspec==0.5.2
future==0.17.1
gast==0.2.2
#GDAL==2.3.3
geopandas==0.6.3
gevent==1.4.0
glob2==0.7
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==0.4.15
grpcio==1.27.2
h5py==2.9.0
HeapDict==1.0.1
holidays==0.10.1
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
imageio==2.6.0
imagesize==1.1.0
importlib-metadata==0.23
incremental==17.5.0
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
joblib==0.13.2
Js2Py==0.67
json5==0.8.5
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyterlab==1.1.4
jupyterlab-server==1.0.6
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
libarchive-c==2.8
llvmlite==0.29.0
locket==0.2.0
LunarCalendar==0.0.9
lxml==4.4.1
Markdown==3.2.1
MarkupSafe==1.1.1
matplotlib==3.2.1
#mccabe==0.6.1
#menuinst==1.4.16
